<h1>Sign Up!</h1>
<h2>We want you to create a bucket list, while you still have time!</h2>

<form action="/signup" method="POST">
  <label>Username:</label>
  <input type="text" name="username">
  <br>
  <br>
  <label>Password:</label>
  <input type="password" name="password">
  <br>
  <br>
  <input type="submit" value="Submit" style="width: 70px; font-size:70px">
</form>