<h1>Edit Item</h1>

<form action="/items/<%= @item.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Edit Item: </label>
  <br>
  <input type="text" id="content" name="content" value="<%= @item.content %>">
  <br>
  <input type="submit" id="submit" value="Edit!">
</form> 