<h2>Edit Item</h2>

<form action="/items/<%= @item.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <h3>Instructions:</h3>
  <p>Type to edit the name of the item</p>
  <label>Item:</label>
  <input type="text" id="content" name="content" value="<%= @item.content %>">
  <br>
  <br>
  <input type="submit" id="submit" value="EDIT">
  <br>
  <br>
  <p>OR</p>
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="submit" value="DELETE">
  <br>
</form> 