<h1>Your Bucket List</h1>
<br>

<ol type="1">
  <% @items.each do |item| %>
    <li><%= item.content %></li>
  <% end %> 
</ol>

<br>
<br>

<footer>
  <h4>Options:</h4>
  <a href="/items/new">Create New Item</a>
  <br>
  <br>
  <a href="/items">Edit Existing Item</a>
</footer>