<h1>Your Bucket List</h1>
<br>

<ol>
<% @items.each do |item| %>
  <li><%= item.content %></li>
<% end %> 
</0l>
<br>
<footer>
  <a href="/items/new">Create New Item!</a>
  <a href="/items">Edit An Item!</a>
</footer>