<h2>New Item</h2>
<h3>Instructions:</h3>
<p>To create a new item, type below and click Submit!</p>
<form action='/items' method="POST">
  <input type="text" id="content" name="content">
  <br>
  <br>
  <input type="submit" name="submit" id="Submit" style="width: 70px; font-size:70px">
</form>