<h2>New Item</h2>
<h3>Instructions:</h3>
<p>To create a new item, first number it and then enter the item.</p>
<p>Example: "1. Item"</p>
<form action='/items' method="POST">
  <input type="text" id="content" name="content">
  <br>
  <br>
  <input type="submit" name="submit" id="Submit" style="width: 70px; font-size:70px">
</form>