<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Bucket List!</h1>

    <div class="content">
      <p class="b">Welcome to Bucket List! Sign Up or Login to interact with your personal bucket list.</p>
      <hr>
      <br>
      <h4>About Bucket List</h4>
      <p>A bucket list is essentially a list of things you want to do and/or places to see before you die. This site allows you the opportunity to interact and keep track of all of your goals for you! We hope to see you checking off these items while you have the time!</p>
      <br>
      <p>Once you're logged in, you may create, view, edit, or delete any item on your list!</p>
    </div>

    <div class="sidebar">
      <h3>User Actions</h3>
      <ul>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>

  </div>
</div>
